*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ! Provvisori da eliminare__________________________________________________________________________________________*/
body{
  background-color: rgb(25, 23, 23);
  border: white 1px dashed;
}

.debug{
  border: rgb(179, 255, 0) 1px dashed;
}

.debug_1{
  background-color: rgb(255, 174, 0);
  border: rgb(179, 255, 0) 1px dashed;
}



/* * General //////////////////////////////////////////////////////////////////////////////////  */

.container-body{
  width: 100%;
}

.desktop {
  display: none;
}

.desktop-flex{
  display: none;
}

ul{
  display: flex;
}

li{
  display: block;
  list-style: none;
  padding: 0 33px;
}

h3{
  color: #0084FD;
}

/* ! data 13/03/2023 preso spunto dalla spiegazione del prof*/
section{
  margin-bottom: 30px;
}

.container-standard{
  width: 100%;
  /* max-width: 640px; */
  margin: 0 auto;
}

.row-standard{
  display: flex;
  flex-wrap: wrap;
}

.col-standard{
  width: 100%;
  padding: 15px;

  /* debug */
  min-height: 300px;
}

.round-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(123, 255, 0);
  display: inline-block;
}









/* * UTILITIES //////////////////////////////////////////////////////////////////////////////////  */
.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-self-flex-end{
  align-self: flex-end;
}







/* * HEADER ////////////////////////////////////////////////////////////////////////////////// */
header{
  color: white;
}

.menu .row{
  background-color: #0084FD;
  height: 75px;
}

.menu .row .col > *{
  padding: 25px; /*! provvisorio */
  height: 72px; /*! provvisorio */

}






/* * MAIN ////////////////////////////////////////////////////////////////////////////////// */
main{

}

/* * section jumbotron_________________________________________________________________________________________*/
.jumbotron{
  width: 100%;
}

.first-col-jumbo, 
.second-col-jumbo, 
.third-col-jumbo, 
.fourth-col-jumbo, 
.fifth-col-jumbo{
  width: 95%;
  padding: 5%;


}

.first-col-jumbo{
  /* width: 95%; */
  padding-bottom: 0px;
  
}

/* .second-col-jumbo .col .fa-solid, 
.third-col-jumbo .col .fa-solid, 
.fourth-col-jumbo .col .fa-solid, 
.fifth-col-jumbo .col .fa-solid{ */
.second-col-jumbo .fa-solid, 
.third-col-jumbo .fa-solid, 
.fourth-col-jumbo .fa-solid, 
.fifth-col-jumbo .fa-solid{
  font-size: 83px;
  color:#0084FD;

}

.first-col-jumbo img{
  width: 70%;
  height: 270px;
}

.second-col-jumbo{
  /* width: 95%; */
}

.third-col-jumbo{

}

.fourth-col-jumb{

}

.fifth-col-jumbo{

}

/* * section strategic-plan_________________________________________________________________________________________*/
.strategic-plan{

}

/* * section testimonials_________________________________________________________________________________________*/
.testimonials{

}

.testimonials .col-standard:first-child{
  width: calc(100% / 3);
}

.testimonials .col-standard{
  width: calc(100% / 1.5);
}

.testimonial-card{
  text-align: center;
}

/* * section work-with-us_________________________________________________________________________________________*/
.work-with-us{

}

.work-with-us .col-standard{
  width: 50%;
}

/* * section about-us_________________________________________________________________________________________*/
.about-us{

}

/* * section get-started_________________________________________________________________________________________*/
.get-started{

}

.get-started .container-standard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
}








/* * FOOTER ////////////////////////////////////////////////////////////////////////////////// */
footer{

}

footer .container-standard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}










/* * RESPONSIVE ////////////////////////////////////////////////////////////////////////////////// */

/* * mobile width:375px;  */
/* * tablet width:768px;  */
/* * desktop width:1440px;  */

/* ! tablet width:768px; ////////////////////////////////////////////////////////////////////////////  */
@media screen and (min-width:769px) {

  .container-body{
    width: 100%;
    max-width: 1000px;
    /* max-width: 1140px; */
  }

  .menu{
    width: 100%;
  }

  .menu .row .col {

  }

  .mobile{
    display: none;
  }

  .desktop{
    display: block;
  }

  .desktop-flex{
    display: flex;
  }

  /* * Main */
  /* * MAIN ////////////////////////////////////////////////////////////////////////////////// */
  main{

  }

  /* * section jumbotron_________________________________________________________________________________________*/
  .jumbotron{
    width: 100%;
  }

  .first-col-jumbo, .second-col-jumbo, .third-col-jumbo, .fourth-col-jumbo, .fifth-col-jumbo {
    /* margin: 5% 0; */
    margin-top: 5%;
    padding: 0;
    background-color: #B5DDFF;
    border-radius: 30px;
  }

  .first-col-jumbo{
    /* width: 55%; */
    width: 66%;
    padding-top: 0;
    /* padding-top: 0px;
    padding-bottom: 50px; */

    /* height: 283px; */
    /* ! padding-top: 64px; */

    /* padding-top: 0px; */

    /* padding-top: 64px; */
  }

  .first-col-jumbo img{
  width: 70%;
  /* height: 283px; */
  height: 320px;
  padding-top: 64px;
  }
  
  .text_jumbo{
    width: 55%;

    /* padding-bottom: 137px; */
    /* padding-bottom: 118px; */
    padding-bottom: 133px;
  }

  .phone_img{
    width: 35%;
  }

  .second-col-jumbo{
    width: 32%;

    /* padding: 28px 0; */
    padding: 35px 0;
  }
  
  .second-row-jumbotron > *{
    width: 32%;
    padding: 35px 0;
  }

  .third-col-jumbo{
  
  }
  
  .fourth-col-jumb{
  
  }
  
  .fifth-col-jumbo{
  
  }
  
  /* * section strategic-plan_________________________________________________________________________________________*/
  .strategic-plan{
    
  
  }
  
  .strategic-plan .col-standard{
    width: 50%;
  }


  /* * section testimonials_________________________________________________________________________________________*/
  .testimonials{
  
  }
  /* * section work-with-us_________________________________________________________________________________________*/
  .work-with-us{
  
  }
  
  /* * section about-us_________________________________________________________________________________________*/
  .about-us{
  
  }

  .about-us .col-standard{
    width: 50%;
  }
  
  /* * section get-started_________________________________________________________________________________________*/
  .get-started{
  
  }
  
  
  
  
  
  
  
  
  
  /* * FOOTER ////////////////////////////////////////////////////////////////////////////////// */
  footer{
  
  }



  
}

/* ! desktop width:1440px; ////////////////////////////////////////////////////////////////////////////  */
@media screen and (min-width:1400px) {

  .container-body{
    width: 100%;
    max-width: 1000px;
    /* max-width: 1140px; */
  }

  .menu{
    width: 100%;
  }

  .menu .row .col {

  }

  .mobile{
    display: none;
  }

  .desktop{
    display: block;
  }

  .desktop-flex{
    display: flex;
  }

  /* * Main */
  /* * MAIN ////////////////////////////////////////////////////////////////////////////////// */
  main{

  }

  /* * section jumbotron_________________________________________________________________________________________*/
  .jumbotron{
    width: 100%;
  }

  .first-col-jumbo, .second-col-jumbo, .third-col-jumbo, .fourth-col-jumbo, .fifth-col-jumbo {
    /* margin: 5% 0; */
    margin-top: 5%;
    padding: 0;
    background-color: #B5DDFF;
    border-radius: 30px;
  }

  .first-col-jumbo{
    /* width: 55%; */
    width: 66%;
    padding-top: 0;
    /* padding-top: 0px;
    padding-bottom: 50px; */

    /* height: 283px; */
    /* ! padding-top: 64px; */

    /* padding-top: 0px; */

    /* padding-top: 64px; */
  }

  .first-col-jumbo img{
  width: 70%;
  height: 283px;
  /* height: 320px; */
  padding-top: 64px;
  }
  
  .text_jumbo{
    width: 55%;

    /* padding-bottom: 137px; */
    /* padding-bottom: 118px; */
    padding-bottom: 133px;
  }

  .phone_img{
    width: 35%;
  }

  .second-col-jumbo{
    width: 32%;

    /* padding: 28px 0; */
    padding: 35px 0;
  }
  
  .second-row-jumbotron > *{
    width: 32%;
    padding: 35px 0;
  }

  .third-col-jumbo{
  
  }
  
  .fourth-col-jumb{
  
  }
  
  .fifth-col-jumbo{
  
  }
  
  /* * section strategic-plan_________________________________________________________________________________________*/
  .strategic-plan{
  
  }
  
  /* * section testimonials_________________________________________________________________________________________*/
  .testimonials{
  
  }
  /* * section work-with-us_________________________________________________________________________________________*/
  .work-with-us{
  
  }
  
  .work-with-us .col-standard{
    width: calc(100% / 3);
  }

  /* * section about-us_________________________________________________________________________________________*/
  .about-us{
  
  }

  .about-us .col-standard:first-child{
    width: calc(100% / 1.5);
  }
  .about-us .col-standard{
    width: calc(100% / 3);
  }
  
  /* * section get-started_________________________________________________________________________________________*/
  .get-started{
    
  }
  

  
  
  
  
  
  
  
  /* * FOOTER ////////////////////////////////////////////////////////////////////////////////// */
  footer{
  
  }



  
}













